<div class="org-selection-container">
    <mat-card class="org-card">
        <mat-card-header>
            <mat-card-title>{{ 'ORG_SELECTION.TITLE' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="isLoading" class="loading">
                {{ 'COMMON.LOADING' | translate }}
            </div>

            <mat-nav-list *ngIf="!isLoading && organizations.length > 0">
                <a mat-list-item *ngFor="let org of organizations" (click)="selectOrg(org)">
                    <mat-icon matListItemIcon>business</mat-icon>
                    <span matListItemTitle>{{ org.name }}</span>
                </a>
            </mat-nav-list>

            <div *ngIf="!isLoading && organizations.length === 0" class="no-orgs">
                <p>{{ 'ORG_SELECTION.NO_ORGS' | translate }}</p>
                <button mat-button color="primary" routerLink="/auth/login">{{ 'COMMON.BACK' | translate }}</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>