.org-selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.org-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.loading,
.no-orgs {
    text-align: center;
    padding: 20px;
}

mat-nav-list {
    padding-top: 0;
}

a[mat-list-item] {
    cursor: pointer;
}