.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 250px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.spacer {
    flex: 1 1 auto;
}

.content {
    padding: 20px;
}

.active-link {
    background-color: rgba(0, 0, 0, 0.05);
    border-left: 4px solid #3f51b5; // Primary color
}

.dark-theme .active-link {
    background-color: rgba(255, 255, 255, 0.05);
    border-left: 4px solid #c5cae9; // Lighter primary for dark theme
}