.list-container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-field {
    width: 100%;
}

.table-container {
    overflow: auto;
}

table {
    width: 100%;
}

.team-shield {
    width: 40px;
    height: 40px;
    object-fit: contain;
}